head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

  title Влад Фурман. Веб-разработчик

  link(rel="icon", href='static/rubik.png')
  link(rel="stylesheet", href='styles/main.css')
body
  .container
    div.center
      h3 Влад Фурман<br>Веб-разработчик
      img.image.me(src="img/me.jpg")
      p 8 (999) 216-18-03<br>Blowlyge@gmail.com<br>#[a(href="https://t.me/ruminat") @Ruminat]

    h4 Мои проекты
    ul
      li Lyra (https://github.com/Ruminat/Lyra)
      li Linteum (https://github.com/Ruminat/Linteum)
      li Chi (https://github.com/kit-software-development/exam-Ruminat)
      li Asq (https://github.com/Ruminat/Asq-App, https://github.com/Ruminat/Asq-Server)
      li Вёрстка:
        ul
          li PL/SQL labs (https://github.com/Ruminat/PL-SQL-labs)
          li DM online course (https://github.com/Ruminat/DM-2019-online-course)

    h4 Образование
    h5 Бакалавриат 2016–2020
    ul
      li Санкт-Петербургский политехнический университет Петра Великого
      li Институт: ИКНТ
      li Кафедра: КИТ
      li Специальность: Математическое обеспечение и администрирование информационных систем

    h4 Языки
    ul
      li Русский — 10/10 (родной язык)
      li Английский — 8/10
      li Японский — 6/10

    h4 Интересы
    ul
      li Веб-разработка
      li Спидкубинг
      li Языки и их изучение
