.button {
  padding: 8px 16px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: 4px;

  color: inherit;
  background: none;
  outline: none;
  cursor: pointer;

  border: 2px solid var(--cv-color-text);

  transition: all 0.3s ease;

  font-size: 16px;
  line-height: 18px;

  clip-path: polygon(
    10px 0%, /* Top-left diagonal start */
    calc(100% - 0px) 0%, /* Top-right corner */
    100% 10px, /* Top-right diagonal end */
    100% calc(100% - 10px), /* Bottom-right diagonal start */
    calc(100% - 10px) 100%, /* Bottom-right diagonal end */
    0% calc(100% - 0px), /* Bottom-left corner */
    0% 10px /* Top-left diagonal end */
  );
}

a .button {
  color: var(--cv-color-text);
}
a .button:hover {
  color: var(--cv-color-accent-hover);
}

.button:hover {
  border: 2px solid var(--cv-color-accent);
  box-shadow: 0 10px 20px rgba(14, 165, 233, 0.3);

  clip-path: polygon(
    5px 0%, /* Top-left diagonal start */
    calc(100% - 0px) 0%, /* Top-right corner */
    100% 5px, /* Top-right diagonal end */
    100% calc(100% - 5px), /* Bottom-right diagonal start */
    calc(100% - 5px) 100%, /* Bottom-right diagonal end */
    0% calc(100% - 0px), /* Bottom-left corner */
    0% 5px /* Top-left diagonal end */
  );
}

.button:active {
  transform: translateY(1px);
}

.button.icon {
  padding: 8px;
}
