.content,
button,
a {
  font-family: "JetBrains Mono", monospace;
}

a {
  color: var(--cv-color-accent);
  text-decoration: none;
}
a:hover {
  color: var(--cv-color-accent-hover);
}

main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

ul,
ol {
  list-style: none;
  padding-left: 16px;
}

ul li,
ol li {
  position: relative;
  padding: 4px 0;
  line-height: 1.5;
}

ul li::before,
ol li::before {
  content: "—";
  color: var(--cv-color-text);
  position: absolute;
  left: -16px;
}

ol {
  counter-reset: list-counter;
}

ol li {
  counter-increment: list-counter;
}

ol li::before {
  content: counter(list-counter) ".";
}
