h1, h2, h3, h4, h5, h6, p
  margin: 0 !important
  padding: 0 !important

.chip
  background-color: #f8f8f8
.chip .avatar
  background: none

.static
  cursor: default

.card
  border: none

.title
  text-align: center

.top-padding
  padding-top: 0.5rem

.bottom-delimiter
  padding-bottom: 0.5rem
  border-bottom: 1px solid #eee
