.education
  @extend .top-padding, .bottom-delimiter

.education-wrapper
  @extend .columns

.education-card
  @extend .column, .col-6
  text-align: center
  padding: 0.5rem
  display: inline-flex
  .card-header, .card-body
    margin: 0 !important
    padding: 0 !important
  .card-subtitle
    font-size: 0.7rem
  .card-body
    font-size: 0.5rem

.education-card + .education-card
  border-left: 1px solid #eee

.polykek-image
  width: 8rem

@media (max-width: $size-sm)
  .education-card
    width: 100%
