.polykek-image
  width: 8rem

.education-card
  text-align: center
  padding: 0.5rem
  display: inline-flex
  .card-header, .card-body
    margin: 0 !important
    padding: 0 !important
  .card-subtitle
    font-size: 0.7rem
  .card-body
    font-size: 0.5rem
