.rest
  @extend .columns, .top-padding
  padding-bottom: 1rem

.rest-box
  @extend .column, .col-6
  text-align: center
.rest-box + .rest-box
  border-left: 1px solid #eee

// .language
//   @extend .skill

@media (max-width: $size-sm)
  .hobbies-title
    margin-top: 0.5rem
  .rest-box
    width: 100%
  .rest
    .skill
      display: block
