.theme-button {
  position: relative;
  overflow: hidden;
  width: 38px;
  height: 38px;
}

.theme-button-inner {
  position: absolute;
  inset: 0;
}

.theme-value {
  position: absolute;
  font-size: 18px;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  opacity: 0;
  transform: translateY(40px);
}

.theme-value.active {
  opacity: 1;
  transform: translateY(0);
}
