@import 'components/fonts.sass'

@import '../node_modules/spectre.css/src/spectre.scss'

h1, h2, h3, h4, h5, h6, p
  margin: 0 !important
  padding: 0 !important

.center
  text-align: center

.image.me
  width: 8rem
  height: 8rem
  border-radius: 100%
