@import 'components/fonts.sass'

$primary-color: #0077aa
@import '../node_modules/spectre.css/src/spectre.scss'


h1, h2, h3, h4, h5, h6, p
  margin: 0 !important
  padding: 0 !important

.center
  text-align: center

.image.me
  width: 8rem
  height: 8rem
  border-radius: 100%

.chip
  background-color: #f8f8f8
.chip .avatar
  background: none

.top
  @extend .center
  // background-color: $gray-color-light
  // color: white
  // a
  //   color: $highlight-color
